<% content_for :head do %>
  <%= stylesheet_link_tag    :coderay %>
  <%= javascript_include_tag :requests %>
<% end %>

<%= form_tag requests_path, :id => 'curlosaurus', :autocomplete => 'off' do %>
  <p>
  <%= text_field_tag :url, nil, :title => "url" %>
  </p>

  <p>
    <div id="body-toggle">+ show body</div>

    <%= select_tag :method, %-<option value="get">GET</option><option value="post">POST</option><option value="put">PUT</option><option value="delete">DELETE</option>-.html_safe %>

    <%= check_box_tag :follow %>
    <%= label_tag :follow, "Follow Redirects" %>
  </p>

  <p>
    <%= text_area_tag :body, nil, :title => 'body' %>
  </p>

  <p>
    <%= check_box_tag :auth %>
    <%= label_tag :auth, "Basic Auth" %>
  </p>

  <p id="submit-block">
    <%= image_tag "ajax-loader.gif", :id => "loader" %>
    <%= submit_tag "Roar", :id => "roar" %>
  </p>

  <p id="auth-block">
    <%= text_field_tag :user, nil, :title => "username" %>
    <%= password_field_tag :pass, nil, :title => "password" %>
  </p>

  <div class="clear"></div>

<% end %>

<div id="result-holder">
  <div id="header"></div>
  <div id="body"></div>
</div>
