<!DOCTYPE html>
<html>
<head>
  <title>Curlosaurus</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield(:head) %>
</head>
<body>

<h1 id="logo"><a href="<%= requests_path %>">Curlosaurus.</a></h1>

<%= yield %>

</body>
</html>
